<header class="inputs">
  <mat-form-field>
    <mat-label>Movie Name</mat-label>
    <input matInput [(ngModel)]="movieName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Movie Poster</mat-label>
    <input matInput [(ngModel)]="movieImage" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Movie Rating</mat-label>
    <input matInput [(ngModel)]="movieRating" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Movie Description</mat-label>
    <input matInput [(ngModel)]="movieDescription" />
  </mat-form-field>

  <button
    class="add-Movie-btn"
    mat-raised-button
    color="primary"
    (click)="addMovie()"
  >
    Add New Movie
  </button>
</header>
<section class="movies">
  <app-movies
    *ngFor="let mv of movies; let i = index"
    [movie]="mv"
  ></app-movies>
</section>
